<p>안녕하세요! <%= @resource.email %>님</p>

<p>비밀번호 변경 요청이 있었습니다. 아래의 링크를 통해, 비밀번호를 변경하실 수 있습니다.</p>

<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>본인이 요청하신 것이 아니라면, 본 메일을 무시하시면 됩니다.</p>
